<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>MyVocBook</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	</head>
	<body style="font-family: Bookman, URW Bookman L, serif;">
		<div style="margin: 5px 40px 0px 20px; text-align:center">
		    <a href="/">
		    	<img style="width:20%;height:20%" th:src="@{/images/mykvoclogo.png}"/>
		    </a>
		    <a style="float:right" class="text-dark mt-3" href="/"><span class="p-2" style="box-shadow: 0px 0px 8px 0.3px rgba(0,0,0,1); border-style:solid; border-radius:10px; border-width: 1px; border-color:#3e006bff; background-color:white; color:#3e006bff">Home</span></a>
		</div>  
		<h2 class="mb-3 ml-5"><span  th:text="${vocbookInfo.name} + '- Statistics'" class="p-2" style="box-shadow: 0px 0px 8px 0.3px rgba(0,0,0,1); border-style:solid; border-radius:10px; border-width: 1px; border-color:#3e006bff; background-color:white; color:#3e006bff"></span></h2>
		<div class="p-3 mb-5 mx-5" style="box-shadow: 0px 0px 8px 0.3px rgba(0,0,0,1); font-family: Bookman, URW Bookman L, serif; border-style:solid; border-radius: 10px; border-width: 1px; border-color:#3e006bff;">
			<div class="row">
				<table class="table table-striped table-responsive-md">
 				<thead>
					<tr>
						<th>English</th>
						<th>Korean</th>
						<th>Total</th>
						<th>Right</th>
						<th>Wrong</th>
						<th>Success</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="word : ${words}"  th:with="percentage = ${word.rightAnswers + word.wrongAnswers} == 0 ? 0 : ${1.0 * word.rightAnswers / (word.rightAnswers + word.wrongAnswers)*100}">
						<td th:text="${word.englishWord}"></td>
						<td th:text="${word.koreanWord}"></td>     
						<td th:text="${word.rightAnswers} + ${word.wrongAnswers}"></td>
						<td th:text="${word.rightAnswers}"></td>
						<td th:text="${word.wrongAnswers}"></td>
						<td th:text="${#numbers.formatDecimal(percentage, 1, 'POINT', 2, 'COMMA')} + '%'" th:style="${percentage} >= 50 ? 'color: green' : 'color: red'"></td>                       
					</tr>
				</tbody>
			</table>
			</div>
		</div> 
		<div class="text-center p-1" style="position: fixed; bottom: 0;  width: 100%;  background-color: #f5f5f5;">
    		Web-App made by SViktorS - VocBook content based on lessons from 
   			<a class="text-dark" href="https://www.howtostudykorean.com/">howtostudykorean.com</a>
 		</div>
	</body>
</html>